td a {
	color: green;
}

body {
	background: white url("images/background.gif") no-repeat;
	background-size:cover;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

a 
{
	text-shadow: 0.5px 0.5px #FFFFFF;
}

#container {
    height: 100%;
    border-collapse: collapse;
}

#footer {
	text-shadow: 0.5px 0.5px #FFFFFF;
}

#remark
{
	border: 1px solid black;
	border-collapse: collapse;
}


#poll_list th, #poll_list td 
{
	padding: 4px;
	border-bottom: 1px solid #ddd;
}

#question_head
{
	text-align: left;	
}

#poll_list td
{
	background-color: #F0F0F0;
}

label[for^="choice"]
{
	background-color: #F0F0F0;
}

#vote_result th, #vote_result td 
{
	padding: 4px;
	border-bottom: 1px solid #ddd;
}

td[name="vote_count"]
{
	text-align: right;
}

#vote_result td
{
	background-color: #F0F0F0;
}
